*
{
margin: 0;
padding: 0;
font-family: Open sans-serif;
box-sizing: border-box;

}

.header

{
    width: 100%;
}

.header .top_header {

max-width: 100%;
display: flex;
background: #A7A7A9;
justify-content: space-around;

}

.header .top_header .search_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.header .top_header .search_box input {
background: #F7F4F3;
border: solid 1px black;
width: 400px;
height: 30px;
}


.header .top_header .search_box button {
  
    background: #F7F4F3;
    border: solid 1px black;
    width: 30px;
    height: 30px;
    cursor: pointer;

    }


    .header .top_header .search_box button:hover{
        background: #A7A7A9;
    }

    .header .top_header .login_btn {
    display: flex;
    align-items: center;
    justify-content: center;
       
    }

.header .top_header .login_btn button {
   border: none;
   background: none;
       
}


.header .top_header .login_btn button:hover {
    text-decoration: underline;
    color: #A7A7A9;
        
 }

 .header .top_header .cart {
    display: flex;
    align-items: center;
    justify-content: center;
       
    }

 .header .top_header .cart button {
    border: none;
    background: none;
        
 }
 
 
 .header .top_header .cart button:hover {
     text-decoration: underline;
     color: #A7A7A9;
         
  }


 .header .mid_header {
    height: 40px;
    background: black;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
 }

 .header .mid_header button{
    border: none;
    background: none;
    font-size: medium;
    color: whitesmoke;
 }

 .header .mid_header button:hover{
    text-decoration: underline;
    color: #A7A7A9;
 }




